In [37]:
import nltk
import numpy as np 
import pandas as pd 

from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt 

import seaborn as sns
sns.set(style="white") #white background style for seaborn plots
sns.set(style="whitegrid", color_codes=True)

In [3]:
df = pd.read_csv('resampled_comments (1).csv')
df.head()

,Unnamed: 0,comment,rating,bonus_info,city,sentiment
0,1,Accueil sympa pas mal d‚Äôattente au final le ke...,3.0,D√©tails FOURCHETTE DE PRIX 2 895 AMD - 12 061 ...,Paris,Neutral
1,7,L‚Äôaccueil est bonne mais les sandwichs mauvais...,1.0,D√©tails FOURCHETTE DE PRIX 2 895 AMD - 12 061 ...,Paris,Negative
2,1,En balade dans le quartier nous cherchons un k...,3.0,D√©tails FOURCHETTE DE PRIX 2 895 AMD - 12 061 ...,Paris,Neutral
3,6,kebab identique √† ailleurs cela reste un kebab...,3.0,D√©tails FOURCHETTE DE PRIX 2 895 AMD - 12 061 ...,Paris,Neutral
4,5,Au moment o√π je r√©dige cet avis le restaurant ...,1.0,D√©tails FOURCHETTE DE PRIX 2 895 AMD - 12 061 ...,Paris,Negative

In [4]:
comments = df[['comment', 'rating']]
comments.head(10)

                                             comment  rating
0  Accueil sympa pas mal d‚Äôattente au final le ke...     3.0
1  L‚Äôaccueil est bonne mais les sandwichs mauvais...     1.0
2  En balade dans le quartier nous cherchons un k...     3.0
3  kebab identique √† ailleurs cela reste un kebab...     3.0
4  Au moment o√π je r√©dige cet avis le restaurant ...     1.0
5  Comment reconna√Ætre des avis laiss√©s par un pa...     1.0
6  Ce n‚Äôest pas possible que cet endroit soit cla...     1.0
7  Tr√®s surpris du nombre de profil avec 1 seul c...     1.0
8  Pas de salle juste deux tabourets a la limite ...     1.0
9  Je suis all√©e dans ce kebab apr√®s avoir vu les...     1.0

In [5]:
comments_posit = comments[comments.rating >= 4]
comments_posit

                                                 comment  rating
8310   Super bon poulet r√¥ti avec frites üçü on a pris ...     5.0
8311   Un pur moment une pure soir√©e je pourrais tout...     5.0
8312   Je d√©jeune r√©guli√®rement √† La Gourmandise avec...     5.0
8313   Nous avons pass√©s un moment tr√®s agr√©able. Un ...     5.0
8314   Des raviolis vietnamiens excellents et le supe...     5.0
...                                                  ...     ...
13305  Ce n'est pas difficile face √† l'Elysee vous re...     5.0
13306  Nous avons vraiment pass√© un excellent moment ...     5.0
13307  Nous arrivons au service de 21h heure √† laquel...     5.0
13308  Ici comme √† l'Eden Roc ou dans un autre hotel ...     5.0
13309  Excellente pizzaria. Un accueil tr√®s chaleureu...     5.0

[5000 rows x 2 columns]

In [6]:
comments['comment'] = comments['comment'].map(lambda x: x.lower())
comments

C:\Users\mulli\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                 comment  rating
0      accueil sympa pas mal d‚Äôattente au final le ke...     3.0
1      l‚Äôaccueil est bonne mais les sandwichs mauvais...     1.0
2      en balade dans le quartier nous cherchons un k...     3.0
3      kebab identique √† ailleurs cela reste un kebab...     3.0
4      au moment o√π je r√©dige cet avis le restaurant ...     1.0
...                                                  ...     ...
13305  ce n'est pas difficile face √† l'elysee vous re...     5.0
13306  nous avons vraiment pass√© un excellent moment ...     5.0
13307  nous arrivons au service de 21h heure √† laquel...     5.0
13308  ici comme √† l'eden roc ou dans un autre hotel ...     5.0
13309  excellente pizzaria. un accueil tr√®s chaleureu...     5.0

[13310 rows x 2 columns]

In [23]:
vec = CountVectorizer(stop_words = 'english')
X = vec.fit_transform(df.comment).toarray()
df.loc[df["rating"]>2,"sentiment"] = "positive"
df.loc[df["rating"]<=2,"sentiment"] = "negative"
y = df["sentiment"]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X ,y , stratify=y, test_size=0.3, random_state = 1)

In [27]:
reg = LogisticRegression()

In [32]:
reg.fit(X_train,y_train)

C:\Users\mulli\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
Ypred=reg.predict(X_test)

In [39]:
accuracy_score(y_test,Ypred)

0.8968194340095167

In [ ]:
#https://ledatascientist.com/streamlit-donner-une-vie-a-vos-modeles-de-ml/